{% extends 'base.html' %}

{% block content %}
{% from '_helpers.html' import render_field, render_checkbox_field, render_button, render_time_schedule_form %}
{% from '_common_fields.html' import render_common_settings_form %}
<script>
    const notification_base_url="{{url_for('ui.ui_notification.ajax_callback_send_notification_test', mode="global-settings")}}";
{% if emailprefix %}
    const email_notification_prefix=JSON.parse('{{emailprefix|tojson}}');
{% endif %}
</script>
<script src="{{url_for('static_content', group='js', filename='tabs.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='plugins.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='notifications.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='vis.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='global-settings.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='scheduler.js')}}" defer></script>

<div class="max-w-4xl mx-auto p-4 sm:p-6">
    <div role="tablist" class="tabs tabs-lifted tabs-sm sm:tabs-md">
        <a role="tab" class="tab tab-active" href="#general">General</a>
        <a role="tab" class="tab" href="#notifications">Notifications</a>
        <a role="tab" class="tab" href="#fetching">Fetching</a>
        <a role="tab" class="tab" href="#filters">Global Filters</a>
        <a role="tab" class="tab" href="#ui-options">UI Options</a>
        <a role="tab" class="tab" href="#api">API</a>
        <a role="tab" class="tab" href="#timedate">Time &amp Date</a>
        <a role="tab" class="tab" href="#proxies">CAPTCHA &amp; Proxies</a>
    </div>

    <div class="bg-base-100 p-4 sm:p-6 rounded-box shadow-xl mt-0 border border-base-300 border-t-0">
        <form action="{{url_for('settings.settings_page')}}" method="POST" class="space-y-8">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

            <div class="tab-pane-inner p-4 pt-6 space-y-6" id="general">
                {{ render_field(form.requests.form.time_between_check, class="input input-bordered w-full time-check-widget", description='Default recheck time for all watches, current system minimum is <i>'~min_system_recheck_seconds~'</i> seconds (<a href="https://github.com/dgtlmoon/changedetection.io/wiki/Misc-system-settings#enviroment-variables" class="link link-hover">more info</a>).') }}
                <div id="time-between-check-schedule">
                    {{ render_time_schedule_form(form.requests, available_timezones, timezone_default_config) }}
                </div>
                {{ render_field(form.requests.form.jitter_seconds, class="input input-bordered w-full jitter_seconds", description='Example - 3 seconds random jitter could trigger up to 3 seconds earlier or up to 3 seconds later') }}
                {{ render_field(form.application.form.filter_failure_notification_threshold_attempts, class="input input-bordered w-full filter_failure_notification_threshold_attempts", description='After this many consecutive times that the CSS/xPath filter is missing, send a notification. Set to <strong>0</strong> to disable.') }}
                
                <div class="form-control w-full">
                    {% if not hide_remove_pass %}
                        {% if current_user.is_authenticated %}
                            {{ render_button(form.application.form.removepassword_button, class="btn btn-warning btn-sm normal-case") }}
                        {% else %}
                            {{ render_field(form.application.form.password, description='Password protection for your changedetection.io application.') }}
                        {% endif %}
                    {% else %}
                        <p class="text-sm text-base-content/70">Password is locked.</p>
                    {% endif %}
                </div>

                {{ render_checkbox_field(form.application.form.shared_diff_access, class="shared_diff_access checkbox", description='Allow access to view watch diff page when password is enabled (Good for sharing the diff page)') }}
                {{ render_checkbox_field(form.application.form.rss_hide_muted_watches) }}
                {{ render_field(form.application.form.pager_size, description='Number of items per page in the watch overview list, 0 to disable.') }}
                {{ render_field(form.application.form.rss_content_format, class="select select-bordered w-full", description='Love RSS? Does your reader support HTML? Set it here') }}
                {{ render_checkbox_field(form.application.form.extract_title_as_title, description='Note: This will automatically apply to all existing watches.') }}
                {{ render_checkbox_field(form.application.form.empty_pages_are_a_change, description='When a request returns no content, or the HTML does not contain any text, is this considered a change?') }}
                
                {% if form.requests.proxy %}
                <div class="form-control w-full">
                    {% if form.requests.form.proxy.label %}<label class="label"><span class="label-text">{{ form.requests.form.proxy.label.text }}</span></label>{% endif %}
                     {{ form.requests.form.proxy(class="select select-bordered w-full fetch-backend-proxy") }}
                    <label class="label"><span class="label-text-alt">Choose a default proxy for all watches</span></label>
                </div>
                {% endif %}
            </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-6" id="notifications">
                {{ render_common_settings_form(form.application.form, emailprefix, settings_application, extra_notification_token_placeholder_info) }}
                <div id="notification-base-url">
                    {{ render_field(form.application.form.base_url, class="input input-bordered w-full", description_html='Base URL used for the <code>{{ \'{{ base_url }}\' }}</code> token in notification links.<br>Default value is the system environment variable \'<code>BASE_URL</code>\' - <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Configurable-BASE_URL-setting" class="link link-hover">read more here</a>.') }}
                </div>
            </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-6" id="fetching">
                <div class="form-control w-full">
                    {% if form.application.form.fetch_backend.label %}<label class="label"><span class="label-text">{{ form.application.form.fetch_backend.label.text }}</span></label>{% endif %}
                    <div class="flex flex-wrap gap-2">
                        {% for subfield in form.application.form.fetch_backend %}
                            <label class="label cursor-pointer gap-2">
                                {{ subfield(class_="radio radio-sm fetch-backend") }}
                                <span class="label-text">{{ subfield.label.text }}</span>
                            </label>
                        {% endfor %}
                    </div>
                     <label class="label">
                        <span class="label-text-alt">
                            <p>Use the <strong>Basic</strong> method (default) where your watched sites don't need Javascript to render.</p>
                            <p>The <strong>Chrome/Javascript</strong> method requires a network connection to a running WebDriver+Chrome server, set by the ENV var 'WEBDRIVER_URL'. </p>
                        </span>
                    </label>
                </div>
                <div id="webdriver-override-options" data-visible-for="application-fetch_backend=html_webdriver" class="space-y-2 p-4 border border-base-300 rounded-lg">
                    <p class="text-sm text-base-content/70"><strong>If you're having trouble waiting for the page to be fully rendered (text missing etc), try increasing the 'wait' time here.</strong><br>This will wait <i>n</i> seconds before extracting the text.</p>
                    {{ render_field(form.application.form.webdriver_delay) }}
                </div>
                {{ render_field(form.requests.form.default_ua, class="select select-bordered w-full", description_html='Applied to all requests.<br><br>Note: Simply changing the User-Agent often does not defeat anti-robot technologies, it\'s important to consider <a href="https://changedetection.io/tutorial/what-are-main-types-anti-robot-mechanisms" class="link link-hover">all of the ways that the browser is detected</a>.') }}
                <p class="text-sm">Tip: <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Proxy-configuration#brightdata-proxy-support" class="link link-hover">Connect using Bright Data and Oxylabs Proxies, find out more here.</a></p>
            </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-6" id="filters">
                {{ render_checkbox_field(form.application.form.ignore_whitespace, description_html='Ignore whitespace, tabs and new-lines/line-feeds when considering if a change was detected.<br><i>Note:</i> Changing this will change the status of your existing watches, possibly trigger alerts etc.') }}
                {{ render_checkbox_field(form.application.form.render_anchor_tag_content, description_html='Render anchor tag content, default disabled, when enabled renders links as <code>(link text)[https://somesite.com]</code><br><i>Note:</i> Changing this could affect the content of your existing watches, possibly trigger alerts etc.') }}
                {{ render_field(form.application.form.global_subtractive_selectors, class="textarea textarea-bordered leading-normal w-full", rows=5, placeholder="header\nfooter\nnav\n.stockticker\n//*[contains(text(), 'Advertisement')]", description_html='<ul class="list-disc pl-5 text-xs space-y-1"><li>Remove HTML element(s) by CSS and XPath selectors before text conversion.</li><li>Don\'t paste HTML here, use only CSS and XPath selectors</li><li>Add multiple elements, CSS or XPath selectors per line to ignore multiple parts of the HTML.</li></ul>') }}
                {{ render_field(form.application.form.global_ignore_text, class="textarea textarea-bordered leading-normal w-full", rows=5, placeholder="Some text to ignore in a line\n/some.regex\\d{2}/ for case-INsensitive regex", description_html='Note: This is applied globally in addition to the per-watch rules.<br><ul class="list-disc pl-5 text-xs space-y-1"><li>Matching text will be <strong>ignored</strong> in the text snapshot (you can still see it but it wont trigger a change)</li><li>Note: This is applied globally in addition to the per-watch rules.</li><li>Each line processed separately, any line matching will be ignored (removed before creating the checksum)</li><li>Regular Expression support, wrap the entire line in forward slash <code>/regex/</code></li><li>Changing this will affect the comparison checksum which may trigger an alert</li></ul>') }}
           </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-6" id="api">
                <h4 class="text-xl font-semibold">API Access</h4>
                <p class="text-sm">Drive your changedetection.io via API, More about <a href="https://github.com/dgtlmoon/changedetection.io/wiki/API-Reference" class="link link-hover">API access here</a>.</p>
                {{ render_checkbox_field(form.application.form.api_access_token_enabled, description='Restrict API access limit by using x-api-key header - required for the Chrome Extension to work') }}
                <div class="form-control">
                    <label class="label"><span class="label-text">API Key:</span></label>
                    <div class="flex items-center gap-2">
                        <kbd class="kbd kbd-md" id="api-key">{{api_key}}</kbd>
                        <button type="button" class="btn btn-xs btn-ghost" id="api-key-copy" title="Copy API Key" style="display:none;">copy</button>
                    </div>
                </div>
                <div><a href="{{url_for('settings.settings_reset_api_key')}}" class="btn btn-sm btn-secondary normal-case">Regenerate API key</a></div>
                
                <div class="space-y-2 mt-6">
                    <h4 class="text-xl font-semibold">Chrome Extension</h4>
                    <p class="text-sm">Easily add any web-page to your changedetection.io installation from within Chrome.</p>
                    <p class="text-sm"><strong>Step 1</strong> Install the extension, <strong>Step 2</strong> Navigate to this page, <strong>Step 3</strong> Open the extension from the toolbar and click "<i>Sync API Access</i>"</p>
                    <a id="chrome-extension-link" title="Try our new Chrome Extension!" href="https://chromewebstore.google.com/detail/changedetectionio-website/kefcfmgmlhmankjmnbijimhofdjekbop" class="btn btn-outline gap-2 normal-case">
                        <img alt="Chrome store icon" src="{{ url_for('static_content', group='images', filename='google-chrome-icon.png') }}" class="h-6 w-6">
                        Get from Chrome Webstore
                    </a>
                </div>
            </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-4" id="timedate">
                <p class="text-sm">Ensure the settings below are correct, they are used to manage the time schedule for checking your web page watches.</p>
                <p><strong>UTC Time &amp Date from Server:</strong> <span id="utc-time" class="font-semibold">{{ utc_time }}</span></p>
                <p><strong>Local Time &amp Date in Browser:</strong> <span class="local-time font-semibold" data-utc="{{ utc_time }}"></span></p>
                {{ render_field(form.application.form.timezone, class="select select-bordered w-full max-w-xs", list="timezones_list") }}
                <datalist id="timezones_list">
                    {% for tz_name in available_timezones %}<option value="{{ tz_name }}">{{ tz_name }}</option>{% endfor %}
                </datalist>
            </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-4" id="ui-options">
                {{ render_checkbox_field(form.application.form.ui.form.open_diff_in_new_tab, class="open_diff_in_new_tab checkbox", description='Enable this setting to open the diff page in a new tab. If disabled, the diff page will open in the current tab.') }}
            </div>

            <div class="tab-pane-inner p-4 pt-6 space-y-6" id="proxies">
                <div id="recommended-proxy" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
                    <div class="card bg-base-200 shadow-xl">
                        <div class="card-body items-center text-center sm:text-left sm:items-start">
                            <img class="h-8 mb-2" src="{{url_for('static_content', group='images', filename='brightdata.svg')}}" alt="BrightData Proxy Provider">
                            <p class="text-sm">BrightData offer world-class proxy services, "Data Center" proxies are a very affordable way to proxy your requests, whilst <strong><a href="https://brightdata.grsm.io/n0r16zf7eivq" class="link link-hover">WebUnlocker</a></strong> can help solve most CAPTCHAs.</p>
                            <p class="text-xs">BrightData offer many <a href="https://brightdata.com/proxy-types" target="new" class="link link-hover">many different types of proxies</a>, it is worth reading about what is best for your use-case.</p>
                            <p class="text-xs">When you have <a href="https://brightdata.grsm.io/n0r16zf7eivq" class="link link-hover">registered</a>, enabled the required services, visit the <A href="https://brightdata.com/cp/api_example?" class="link link-hover">API example page</A>, then select <strong>Python</strong>, set the country you wish to use, then copy+paste the access Proxy URL into the "Extra Proxies" boxes below.</p>
                            <p class="text-xs">The Proxy URL with BrightData should start with <code>http://brd-customer...</code></p>
                            <p class="text-xs">When you sign up using <a href="https://brightdata.grsm.io/n0r16zf7eivq" class="link link-hover">this link</a> BrightData will match any first deposit up to $150.</p>
                        </div>
                    </div>
                    <div class="card bg-base-200 shadow-xl">
                        <div class="card-body items-center text-center sm:text-left sm:items-start">
                            <img class="h-8 mb-2" src="{{url_for('static_content', group='images', filename='oxylabs.svg')}}" alt="Oxylabs Proxy Provider">
                            <p class="text-sm">Collect public data at scale with industry-leading web scraping solutions and the world’s largest ethical proxy network.</p>
                            <p class="text-xs">Oxylabs also provide a <a href="https://oxylabs.io/products/web-unblocker" class="link link-hover"><strong>WebUnlocker</strong></a> proxy that bypasses sophisticated anti-bot systems, so you don’t have to.</p>
                            <p class="text-xs">Serve over <a href="https://oxylabs.io/location-proxy" class="link link-hover">195 countries</a>, providing <a href="https://oxylabs.io/products/residential-proxy-pool" class="link link-hover">Residential</a>, <a href="https://oxylabs.io/products/mobile-proxies" class="link link-hover">Mobile</a> and <a href="https://oxylabs.io/products/rotating-isp-proxies" class="link link-hover">ISP proxies</a> and much more.</p>
                            <p class="text-xs">Use the promo code <strong>boost35</strong> with this link <a href="https://oxylabs.go2cloud.org/SH2d" class="link link-hover">https://oxylabs.go2cloud.org/SH2d</a> for 35% off Residential, Mobile proxies, Web Unblocker, and Scraper APIs.</p>
                        </div>
                    </div>
                </div>
               <p class="text-sm mb-4"><strong>Tip</strong>: "Residential" and "Mobile" proxy type can be more successfull than "Data Center" for blocked websites.</p>

                <div id="extra-proxies-setting" class="space-y-2">
                    <h4 class="text-md font-semibold">Extra Proxies</h4>
                    <p class="text-xs text-base-content/70">"Name" will be used for selecting the proxy in the Watch Edit settings. SOCKS5 proxies with authentication are only supported with 'plain requests' fetcher, for other fetchers you should whitelist the IP access instead.</p>
                    {# Assuming render_field can handle FieldList of Forms, or this needs specific macro/loop #}
                    {{ render_field(form.requests.form.extra_proxies) }}
                </div>
                <div id="extra-browsers-setting" class="space-y-2 mt-6">
                     <h4 class="text-md font-semibold">Extra Browsers (for Playwright/WebDriver via `extra_browser_` fetchers)</h4>
                    <p class="text-xs text-base-content/70"><i>Extra Browsers</i> can be attached to further defeat CAPTCHA's on websites that are particularly hard to scrape. Simply paste the connection address into the box, <a href="https://changedetection.io/tutorial/using-bright-datas-scraping-browser-pass-captchas-and-other-protection-when-monitoring" class="link link-hover">More instructions and examples here</a>.</p>
                    {{ render_field(form.requests.form.extra_browsers) }}
                </div>
            </div>

            <div id="actions" class="flex flex-wrap gap-2 mt-8 pt-6 border-t border-base-300">
                {{ render_button(form.save_button, class="btn btn-primary") }}
                <a href="{{url_for('watchlist.index')}}" class="btn btn-outline">Back</a>
                <a href="{{url_for('ui.clear_all_history')}}" class="btn btn-error btn-outline">Clear Snapshot History</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
