
{% from '_helpers.html' import render_field %}

{% macro render_common_settings_form(form, emailprefix, settings_application, extra_notification_token_placeholder_info) %}
                        <div class="form-control w-full mb-4">
                            {{ render_field(form.notification_urls, rows=5, placeholder="Examples:
    Gitter - gitter://token/room
    Office365 - o365://TenantID:AccountEmail/ClientID/ClientSecret/TargetEmail
    AWS SNS - sns://AccessKeyID/AccessSecretKey/RegionName/+PhoneNo
    SMTPS - mailtos://user:pass@mail.domain.com?to=receivingAddress@example.com",
    class="textarea textarea-bordered leading-normal notification-urls" )
                            }}
                            <label class="label">
                                <span class="label-text-alt">
                                    <p>
                                        <strong>Tip:</strong> Use <a target="newwindow" href="https://github.com/caronc/apprise" class="link link-hover">AppRise Notification URLs</a> for notification to just about any service! <i><a target="newwindow" href="https://github.com/dgtlmoon/changedetection.io/wiki/Notification-configuration-notes" class="link link-hover">Please read the notification services wiki here for important configuration notes</a></i>.
                                    </p>
                                    <button data-target="#advanced-help-notifications" class="toggle-show btn btn-xs btn-outline mt-2">Show advanced help and tips</button>
                                    <ul style="display: none" id="advanced-help-notifications" class="list-disc pl-5 text-xs mt-1">
                                        <li><code><a target="newwindow" href="https://github.com/caronc/apprise/wiki/Notify_discord" class="link link-hover">discord://</a></code> (or <code>https://discord.com/api/webhooks...</code>)) only supports a maximum <strong>2,000 characters</strong> of notification text, including the title.</li>
                                        <li><code><a target="newwindow" href="https://github.com/caronc/apprise/wiki/Notify_telegram" class="link link-hover">tgram://</a></code> bots can't send messages to other bots, so you should specify chat ID of non-bot user.</li>
                                        <li><code><a target="newwindow" href="https://github.com/caronc/apprise/wiki/Notify_telegram" class="link link-hover">tgram://</a></code> only supports very limited HTML and can fail when extra tags are sent, <a href="https://core.telegram.org/bots/api#html-style" class="link link-hover">read more here</a> (or use plaintext/markdown format)</li>
                                        <li><code>gets://</code>, <code>posts://</code>, <code>puts://</code>, <code>deletes://</code> for direct API calls (or omit the "<code>s</code>" for non-SSL ie <code>get://</code>) <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Notification-configuration-notes#postposts" class="link link-hover">more help here</a></li>
                                        <li>Accepts the <code>{{ '{{token}}' }}</code> placeholders listed below</li>
                                    </ul>
                                </span>
                            </label>
                            <div class="notifications-wrapper mt-2 space-x-2">
                              <a id="send-test-notification" class="btn btn-secondary btn-xs" >Send test notification</a> <div class="spinner"  style="display: none;"></div>
                            {% if emailprefix %}
                              <a id="add-email-helper" class="btn btn-secondary btn-xs" >Add email <img style="height: 1em; display: inline-block; vertical-align: middle;" src="{{url_for('static_content', group='images', filename='email.svg')}}" alt="Add an email address"> </a>
                            {% endif %}
                              <a href="{{url_for('settings.notification_logs')}}" class="btn btn-secondary btn-xs" >Notification debug logs</a>
                              <div id="notification-test-log" style="display: none;" class="text-xs text-gray-500 mt-1"><span>Processing..</span></div>
                            </div>
                        </div>
                        <div id="notification-customisation" class="space-y-4">
                            <div class="form-control w-full">
                                {{ render_field(form.notification_title, class="input input-bordered w-full notification-title", placeholder=settings_application['notification_title']) }}
                                <label class="label">
                                    <span class="label-text-alt">Title for all notifications</span>
                                </label>
                            </div>
                            <div class="form-control w-full">
                                {{ render_field(form.notification_body , rows=5, class="textarea textarea-bordered w-full leading-normal notification-body", placeholder=settings_application['notification_body']) }}
                                <label class="label">
                                    <span class="label-text-alt">Body for all notifications &dash; You can use <a target="newwindow" href="https://jinja.palletsprojects.com/en/3.0.x/templates/" class="link link-hover">Jinja2</a> templating in the notification title, body and URL, and tokens from below.</span>
                                </label>
                            </div>
                            <div>
                                <button data-target="#notification-tokens-info" class="toggle-show btn btn-xs btn-outline">Show token/placeholders</button>
                            </div>
                            <div style="display: none;" id="notification-tokens-info" class="overflow-x-auto">
                                <table class="table table-compact w-full text-xs" id="token-table">
                                    <thead>
                                    <tr>
                                        <th class="w-1/4">Token</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><code>{{ '{{base_url}}' }}</code></td>
                                        <td>The URL of the changedetection.io instance you are running.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{watch_url}}' }}</code></td>
                                        <td>The URL being watched.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{watch_uuid}}' }}</code></td>
                                        <td>The UUID of the watch.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{watch_title}}' }}</code></td>
                                        <td>The title of the watch.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{watch_tag}}' }}</code></td>
                                        <td>The watch label / tag</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{preview_url}}' }}</code></td>
                                        <td>The URL of the preview page generated by changedetection.io.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{diff_url}}' }}</code></td>
                                        <td>The URL of the diff output for the watch.</td>
                                    </tr>
									<tr>
                                        <td><code>{{ '{{diff}}' }}</code></td>
                                        <td>The diff output - only changes, additions, and removals</td>
                                    </tr>
									<tr>
                                        <td><code>{{ '{{diff_added}}' }}</code></td>
                                        <td>The diff output - only changes and additions</td>
                                    </tr>
									<tr>
                                        <td><code>{{ '{{diff_removed}}' }}</code></td>
                                        <td>The diff output - only changes and removals</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{diff_full}}' }}</code></td>
                                        <td>The diff output - full difference output</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{diff_patch}}' }}</code></td>
                                        <td>The diff output - patch in unified format</td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{current_snapshot}}' }}</code></td>
                                        <td>The current snapshot text contents value, useful when combined with JSON or CSS filters
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><code>{{ '{{triggered_text}}' }}</code></td>
                                        <td>Text that tripped the trigger from filters</td>

                                        {% if extra_notification_token_placeholder_info %}
                                            {% for token in extra_notification_token_placeholder_info %}
                                                <tr>
                                                    <td><code>{{ '{{' }}{{ token[0] }}{{ '}}' }}</code></td>
                                                    <td>{{ token[1] }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="text-xs text-gray-500 mt-2 space-y-1">
                                    <p>
									Warning: Contents of <code>{{ '{{diff}}' }}</code>, <code>{{ '{{diff_removed}}' }}</code>, and <code>{{ '{{diff_added}}' }}</code> depend on how the difference algorithm perceives the change. <br>
                                    For example, an addition or removal could be perceived as a change in some cases. <a target="newwindow" href="https://github.com/dgtlmoon/changedetection.io/wiki/Using-the-%7B%7Bdiff%7D%7D,-%7B%7Bdiff_added%7D%7D,-and-%7B%7Bdiff_removed%7D%7D-notification-tokens" class="link link-hover">More Here</a> <br>
                                    </p>
                                    <p>
                                        For JSON payloads, use <strong>|tojson</strong> without quotes for automatic escaping, for example - <code>{ "name": {{ '{{ watch_title|tojson }}' }} }</code>
                                    </p>
                                    <p>
                                        URL encoding, use <strong>|urlencode</strong>, for example - <code>gets://hook-website.com/test.php?title={{ '{{ watch_title|urlencode }}' }}</code>
                                    </p>
                                </div>
                            </div>
                            <div class="form-control w-full">
                                {{ render_field(form.notification_format , class="select select-bordered w-full notification-format") }}
                                <label class="label">
                                    <span class="label-text-alt">Format for all notifications</span>
                                </label>
                            </div>
                        </div>
{% endmacro %}
