<!DOCTYPE html>
<html lang="en" data-darkmode="{{ get_darkmode_state() }}">

  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="description" content="Self hosted website change detection." >
    <title>Change Detection{{extra_title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% if app_rss_token %}
      <link rel="alternate" type="application/rss+xml" title="Changedetection.io » Feed{% if active_tag_uuid %}- {{active_tag.title}}{% endif %}" href="{{ url_for('rss.feed', tag=active_tag_uuid , token=app_rss_token)}}" >
    {% endif %}
    {% if extra_stylesheets %}
      {% for m in extra_stylesheets %}
        <link rel="stylesheet" href="{{ m }}?ver={{ get_css_version() }}" >
      {% endfor %}
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static_content', group='favicons', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static_content', group='favicons', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static_content', group='favicons', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static_content', group='favicons', filename='site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static_content', group='favicons', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{url_for('static_content', group='favicons', filename='favicon.ico')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script>
        const csrftoken="{{ csrf_token() }}";
    </script>
    <script src="{{url_for('static_content', group='js', filename='jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static_content', group='js', filename='csrf.js')}}" defer></script>
  </head>

  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Navbar -->
        <div class="navbar bg-base-100 shadow-md">
          <div class="flex-none">
            <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>
          </div>
          <div class="flex-1">
            <a href="{{url_for('watchlist.index')}}" class="btn btn-ghost normal-case text-xl">ChangeDetection.io</a>
            {% if current_diff_url %}
              <span class="text-sm ml-2 p-1 bg-neutral text-neutral-content rounded">Viewing: {{ current_diff_url | truncate(60) }}</span>
            {% endif %}
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
              {% if current_user.is_authenticated or not has_password %}
                {% if current_diff_url %}
                  <li><a href="{{ url_for('ui.ui_edit.edit_page', uuid=uuid, next='diff') }}">Edit</a></li>
                {% endif %}
              {% endif %}
              {% if current_user.is_authenticated %}
                <li><a href="{{url_for('logout')}}">Log Out</a></li>
              {% endif %}

              <!-- Search Bar -->
              {% if current_user.is_authenticated or not has_password %}
              <li>
                <form name="searchForm" action="" method="GET" class="form-control">
                  <div class="input-group">
                    <input id="search-q" type="text" name="q" placeholder="Search…" class="input input-bordered" value="" />
                    <input name="tags" type="hidden" value="{% if active_tag_uuid %}{{active_tag_uuid}}{% endif %}">
                    <button class="btn btn-square" type="submit" title="Search, or Use Alt+S Key">
                      {% include "svgs/search-icon.svg" %}
                    </button>
                  </div>
                </form>
              </li>
              {% endif %}
              
              <!-- Theme Toggle -->
              <li>
                <button class="btn btn-square btn-ghost" id ="toggle-light-mode" type="button" title="Toggle Light/Dark Mode">
                  <span class="icon-light">
                    {% include "svgs/light-mode-toggle-icon.svg" %}
                  </span>
                  <span class="icon-dark">
                    {% include "svgs/dark-mode-toggle-icon.svg" %}
                  </span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <!-- Page content here -->
        <main class="p-4">
          {% block header %}{% endblock %}

          {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            <div class="container mx-auto my-4">
              {% for category, message in messages %}
                <div class="alert alert-{{ category if category in ['success', 'warning', 'error', 'info'] else 'info' }} shadow-lg">
                  <div>
                    <span>{{ message }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% endwith %}

          {% if session['share-link'] %}
            <div class="container mx-auto my-4">
                <div class="alert alert-info shadow-lg">
                    <div>
                        <span>Share this link:</span>
                        <kbd class="kbd kbd-sm" id="share-link">{{ session['share-link'] }}</kbd>
                        <button class="btn btn-xs btn-ghost" onclick="navigator.clipboard.writeText('{{ session['share-link'] }}')">
                            <img style="height: 1em; display: inline-block" src="{{url_for('static_content', group='images', filename='copy.svg')}}" >
                        </button>
                    </div>
                </div>
            </div>
          {% endif %}
          
          {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="footer footer-center p-4 bg-base-300 text-base-content">
          <div>
            <p>Copyright © {{ now().year }} - All right reserved by ChangeDetection.io</p>
          </div>
        </footer>

      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          {% if current_user.is_authenticated or not has_password %}
            {% if not current_diff_url %}
              <li><a href="{{ url_for('tags.tags_overview_page')}}">Groups</a></li>
              <li><a href="{{ url_for('settings.settings_page')}}">Settings</a></li>
              <li><a href="{{ url_for('imports.import_page')}}">Import</a></li>
              <li><a href="{{ url_for('backups.index')}}">Backups</a></li>
            {% endif %}
          {% endif %}
          <div class="divider"></div>
          {% if current_diff_url %}
            <li><a class="current-diff-url" href="{{ current_diff_url }}">
                Diff: <span class="truncate w-40">{{ current_diff_url }}</span></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <script>
        const csrftoken="{{ csrf_token() }}";
    </script>
    <script src="{{url_for('static_content', group='js', filename='jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static_content', group='js', filename='csrf.js')}}" defer></script>
    <script src="{{url_for('static_content', group='js', filename='toggle-theme.js')}}" defer></script>
  </body>

</html>
