{% extends 'base.html' %}
{% block content %}
{% from '_helpers.html' import render_field, render_checkbox_field, render_button, render_time_schedule_form, playwright_warning, only_playwright_type_watches_warning, render_conditions_fieldlist_of_formfields_as_table %}
{% from '_common_fields.html' import render_common_settings_form %}
<script src="{{url_for('static_content', group='js', filename='tabs.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='vis.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='global-settings.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='scheduler.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='conditions.js')}}" defer></script>


<script>
    const browser_steps_available_screenshots=JSON.parse('{{ watch.get_browsersteps_available_screenshots|tojson }}');
    const browser_steps_config=JSON.parse('{{ browser_steps_config|tojson }}');
    <!-- Should be _external so that firefox and others load it more reliably -->
    const browser_steps_fetch_screenshot_image_url="{{url_for('browser_steps.browser_steps_fetch_screenshot_image', uuid=uuid, _external=True)}}";
    const browser_steps_last_error_step={{ watch.browser_steps_last_error_step|tojson }};
    const browser_steps_start_url="{{url_for('browser_steps.browsersteps_start_session', uuid=uuid)}}";
    const browser_steps_sync_url="{{url_for('browser_steps.browsersteps_ui_update', uuid=uuid)}}";
{% if emailprefix %}
    const email_notification_prefix=JSON.parse('{{ emailprefix|tojson }}');
{% endif %}
    const notification_base_url="{{url_for('ui.ui_notification.ajax_callback_send_notification_test', watch_uuid=uuid)}}";
    const playwright_enabled={% if playwright_enabled %}true{% else %}false{% endif %};
    const recheck_proxy_start_url="{{url_for('check_proxies.start_check', uuid=uuid)}}";
    const proxy_recheck_status_url="{{url_for('check_proxies.get_recheck_status', uuid=uuid)}}";
    const screenshot_url="{{url_for('static_content', group='screenshot', filename=uuid)}}";
    const watch_visual_selector_data_url="{{url_for('static_content', group='visual_selector_data', filename=uuid)}}";
    const default_system_fetch_backend="{{ settings_application['fetch_backend'] }}";
</script>
<script src="{{url_for('static_content', group='js', filename='plugins.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='watch-settings.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='notifications.js')}}" defer></script>
<script src="{{url_for('static_content', group='js', filename='visual-selector.js')}}" defer></script>
{% if playwright_enabled %}
<script src="{{url_for('static_content', group='js', filename='browser-steps.js')}}" defer></script>
{% endif %}

{% set has_tag_filters_extra="WARNING: Watch has tag/groups set with special filters\n" if has_special_tag_options else '' %}
<script src="{{url_for('static_content', group='js', filename='recheck-proxy.js')}}" defer></script>

<div class="edit-form monospaced-textarea p-4 md:p-6">

    {# DaisyUI Tabs at the top #}
    <div class="tabs tabs-boxed mb-6 bg-base-200">
        <a class="tab tab-lifted" href="#general">General</a>
        <a class="tab tab-lifted" href="#request">Request</a>
        {% if extra_tab_content %}
        <a class="tab tab-lifted" href="#extras_tab">{{ extra_tab_content }}</a>
        {% endif %}
        <a class="tab tab-lifted" id="browsersteps-tab-link" href="#browser-steps">Browser Steps</a>
        {% if watch['processor'] == 'text_json_diff' %}
        <a class="tab tab-lifted" id="visualselector-tab-link" href="#visualselector">Visual Filter</a>
        <a class="tab tab-lifted" id="filters-and-triggers-tab-link" href="#filters-and-triggers">Filters &amp; Triggers</a>
        <a class="tab tab-lifted" id="conditions-tab-link" href="#conditions">Conditions</a>
        {% endif %}
        <a class="tab tab-lifted" href="#notifications">Notifications</a>
        <a class="tab tab-lifted" href="#stats">Stats</a>
    </div>

    <div class="box-wrap inner bg-base-100 p-4 md:p-6 rounded-box shadow-xl">
        <form action="{{ url_for('ui.ui_edit.edit_page', uuid=uuid, next = request.args.get('next'), unpause_on_save = request.args.get('unpause_on_save'), tag = request.args.get('tag')) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            {# General Tab Content #}
            <div class="tab-content" id="general">
                <fieldset class="space-y-4">
                    <div class="form-control">
                        {{ render_field(form.url, placeholder="https://...", required=true, class="input input-bordered w-full text-sm", label_class="label-text") }}
                        <div class="text-xs text-base-content text-opacity-70 mt-1">Some sites use JavaScript to create the content, for this you should <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Fetching-pages-with-WebDriver" class="link link-hover">use the Chrome/WebDriver Fetcher</a>.</div>
                        <div class="text-xs text-base-content text-opacity-70 mt-1">Variables are supported in the URL (<a href="https://github.com/dgtlmoon/changedetection.io/wiki/Handling-variables-in-the-watched-URL" class="link link-hover">help and examples here</a>).</div>
                    </div>
                    
                    <div class="form-control">
                        {# Assuming render_field handles radio buttons appropriately if form.processor is a RadioField #}
                        {{ render_field(form.processor, class="radio", label_class="label-text") }}
                    </div>
                    
                    <div class="form-control">
                        {{ render_field(form.title, class="input input-bordered w-full text-sm", label_class="label-text") }}
                    </div>
                    
                    <div class="form-control">
                        {{ render_field(form.tags, class="input input-bordered w-full text-sm", label_class="label-text") }}
                        <span class="text-xs text-base-content text-opacity-70 mt-1">Organisational tag/group name used in the main listing page.</span>
                    </div>
                    
                    <div class="form-control p-4 border border-base-300 rounded-md space-y-3">
                        <div class="flex items-center">
                            {{ render_checkbox_field(form.time_between_check_use_default, class="checkbox checkbox-sm use-default-timecheck", label_class="label-text") }}
                        </div>
                        
                        <div id="time-check-widget-wrapper" class="form-control">
                            {{ render_field(form.time_between_check, class="input input-sm input-bordered w-full md:w-auto time-check-widget", label_class="label-text text-sm") }}
                            <span class="text-xs text-base-content text-opacity-70 mt-1">
                             The interval/amount of time between each check.
                            </span>
                        </div>
                        
                        <div id="time-between-check-schedule" class="space-y-2">
                             <h4 class="text-sm font-semibold mt-2">Schedule active times (optional)</h4>
                            {{ render_time_schedule_form(form, available_timezones, timezone_default_config) }} {# This macro will need internal DaisyUI styling #}
                        </div>
                    </div>
                    
                    <div class="form-control">
                        {{ render_checkbox_field(form.extract_title_as_title, class="checkbox checkbox-sm", label_class="label-text") }}
                    </div>
                    
                    <div class="form-control">
                        {{ render_checkbox_field(form.filter_failure_notification_send, class="checkbox checkbox-sm", label_class="label-text") }}
                        <span class="text-xs text-base-content text-opacity-70 mt-1 block">
                         Sends a notification when the filter can no longer be seen on the page, good for knowing when the page changed and your filter will not work anymore.
                        </span>
                    </div>
                </fieldset>
            </div>

            <div class="tab-content space-y-4" id="request" style="display: none;">
                <div class="form-control">
                    {{ render_field(form.fetch_backend, class="radio fetch-backend", label_class="label-text") }} {# Assuming radio buttons #}
                    <div class="text-xs text-base-content text-opacity-70 mt-1">
                        <p>Use the <strong>Basic</strong> method (default) where your watched site doesn't need Javascript to render.</p>
                        <p>The <strong>Chrome/Javascript</strong> method requires a network connection to a running WebDriver+Chrome server, set by the ENV var 'WEBDRIVER_URL'. </p>
                        Tip: <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Proxy-configuration#brightdata-proxy-support" class="link link-hover">Connect using Bright Data and Oxylabs Proxies, find out more here.</a>
                    </div>
                </div>

                {% if form.proxy %}
                <div class="form-control">
                    <label class="label" for="{{ form.proxy.id_for_label }}"><span class="label-text">{{ form.proxy.label.text }}</span> <a href="#" id="check-all-proxies" class="btn btn-xs btn-outline ml-2">Check/Scan all</a></label>
                    {{ render_field(form.proxy, class="select select-bordered w-full md:w-auto fetch-backend-proxy", nolabel=True) }}
                    <span class="text-xs text-base-content text-opacity-70 mt-1">
                    Choose a proxy for this watch
                    </span>
                </div>
                {% endif %}

                {# WebDriver specific options #}
                <fieldset data-visible-for="fetch_backend=html_webdriver" class="space-y-4 p-4 border border-base-300 rounded-md" style="display: none;">
                    <legend class="text-sm font-semibold">WebDriver Options</legend>
                    <div class="form-control">
                        {{ render_field(form.webdriver_delay, class="input input-sm input-bordered w-full md:w-auto", label_class="label-text text-sm") }}
                        <div class="text-xs text-base-content text-opacity-70 mt-1">
                            <strong>If you're having trouble waiting for the page to be fully rendered (text missing etc), try increasing the 'wait' time here.</strong>
                            This will wait <i>n</i> seconds before extracting the text.
                            {% if using_global_webdriver_wait %}
                            <br><strong>Using the current global default settings</strong>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-control">
                        <button type="button" class="btn btn-sm btn-outline show-advanced w-max">Show advanced WebDriver options</button>
                    </div>
                    <div class="advanced-options space-y-3" style="display: none;">
                        {{ render_field(form.webdriver_js_execute_code, class="textarea textarea-bordered text-sm", label_class="label-text", rows="4") }}
                        <div class="text-xs text-base-content text-opacity-70 mt-1">
                            Run this code before performing change detection, handy for filling in fields and other
                            actions <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Run-JavaScript-before-change-detection" class="link link-hover">More help and examples here</a>.
                        </div>
                    </div>
                </fieldset>

                {# Basic HTML Requests specific options #}
                <fieldset data-visible-for="fetch_backend=html_requests" class="space-y-4 p-4 border border-base-300 rounded-md">
                     <legend class="text-sm font-semibold">Basic Fetcher Options</legend>
                    <div class="form-control">
                        <button type="button" class="btn btn-sm btn-outline show-advanced w-max">Show advanced Basic Fetcher options</button>
                    </div>
                    <div class="advanced-options space-y-3" style="display: none;">
                        <div class="form-control" id="request-method">
                            {{ render_field(form.method, class="select select-bordered w-full md:w-auto", label_class="label-text") }}
                        </div>
                        <div id="request-body" class="form-control">
                            {{ render_field(form.body, class="textarea textarea-bordered text-sm", rows=7, placeholder="Example\n{\n   \"name\":\"John\",\n   \"age\":30,\n   \"car\":null,\n   \"year\":{% now 'Europe/Berlin', '%Y' %}\n}", label_class="label-text") }}
                            <div class="text-xs text-base-content text-opacity-70 mt-1">Variables are supported in the request body (<a href="https://github.com/dgtlmoon/changedetection.io/wiki/Handling-variables-in-the-watched-URL" class="link link-hover">help and examples here</a>).</div>
                        </div>
                    </div>
                </fieldset>
                
                {# Common Advanced Options for Headers and Status Codes #}
                <div class="advanced-options space-y-4 p-4 border border-base-300 rounded-md mt-4" style="display: none;">
                     <legend class="text-sm font-semibold">Common Advanced Options</legend>
                    <div class="form-control">
                        {{ render_field(form.headers, class="textarea textarea-bordered text-sm", rows=7, placeholder="Example\nCookie: foobar\nUser-Agent: wonderbra 1.0\nMath: {{ 1 + 1 }}", label_class="label-text") }}
                        <div class="text-xs text-base-content text-opacity-70 mt-1">Variables are supported in the request header values (<a href="https://github.com/dgtlmoon/changedetection.io/wiki/Handling-variables-in-the-watched-URL" class="link link-hover">help and examples here</a>).</div>
                        <div class="text-xs text-base-content text-opacity-70 mt-1">
                            {% if has_extra_headers_file %}
                                <strong>Alert! Extra headers file found and will be added to this watch!</strong>
                            {% else %}
                                Headers can be also read from a file in your data-directory <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Adding-headers-from-an-external-file" class="link link-hover">Read more here</a>.
                            {% endif %}
                            (Not supported by Selenium browser)
                        </div>
                    </div>
                    <fieldset data-visible-for="fetch_backend=html_requests fetch_backend=html_webdriver" class="form-control">
                        {{ render_checkbox_field(form.ignore_status_codes, class="checkbox checkbox-sm", label_class="label-text") }}
                    </fieldset>
                </div>
            </div>

            <div class="tab-content space-y-4" id="browser-steps" style="display: none;">
            {% if watch_needs_selenium_or_playwright %}
                {% if system_has_playwright_configured %}
                {# <img class="beta-logo h-8 mb-2" src="{{url_for('static_content', group='images', filename='beta-logo.png')}}" alt="New beta functionality"> #}
                <div class="alert alert-info text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                    <span>This is new functionality. Control the visual browser, clicks, input text etc.</span>
                </div>
                <fieldset class="space-y-3">
                    <div class="form-control">
                        <div id="loading-status-text" class="text-center p-4" style="display: none;">
                            Please wait, first browser step can take a little time to load...
                            <span class="loading loading-dots loading-md"></span>
                        </div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div id="browser-steps-ui" class="noselect md:w-2/3 border rounded-lg p-2 bg-base-200">
                                <div class="noselect" id="browsersteps-selector-wrapper" style="width: 100%; min-height: 200px;">
                                    <div class="loader text-center p-4" id="browsersteps-click-start">
                                        <h2 class="text-xl font-semibold mb-2">Click here to Start</h2>
                                        <svg class="inline-block h-14 w-14 text-primary" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="start"/><g id="play_x5F_alt"><path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z" style="fill: currentColor;"/></g></svg>
                                        <p class="text-xs mt-2">Please allow 10-15 seconds for the browser to connect.</p>
                                    </div>
                                    <div class="spinner loading loading-lg text-primary" style="display: none;"></div>
                                    <img class="noselect rounded shadow-md" id="browsersteps-img" src="" style="max-width: 100%; width: 100%; display:none;" >
                                    <canvas class="noselect rounded" id="browsersteps-selector-canvas" style="max-width: 100%; width: 100%;"></canvas>
                                </div>
                            </div>
                            <div id="browser-steps-fieldlist" class="md:w-1/3 space-y-2">
                                <div class="text-sm"><span id="browser-seconds-remaining">Press "Play" to start.</span> <span class="text-xs">(<a target="newwindow" href="https://github.com/dgtlmoon/changedetection.io/pull/478/files#diff-1a79d924d1840c485238e66772391268a89c95b781d69091384cf1ea1ac146c9R4" class="link link-hover">?</a>)</span></div>
                                {{ render_field(form.browser_steps, class="textarea textarea-bordered text-sm w-full", label_class="label-text", rows="10") }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                {% else %}
                    <div class="p-4">{{ playwright_warning() }}</div>
                    {% if system_has_webdriver_configured %}
                        <p class="text-warning text-sm p-4"><strong>Selenium/Webdriver cant be used here because it wont fetch screenshots reliably.</strong></p>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="p-4">{{ only_playwright_type_watches_warning() }}</div>
            {% endif %}
            </div>

            <div class="tab-content space-y-4" id="notifications" style="display: none;">
                <fieldset class="space-y-3">
                    <div class="form-control">
                      {{ render_checkbox_field(form.notification_muted, class="checkbox checkbox-sm", label_class="label-text") }}
                    </div>
                    {% if watch_needs_selenium_or_playwright %}
                    <div class="form-control">
                      {{ render_checkbox_field(form.notification_screenshot, class="checkbox checkbox-sm", label_class="label-text") }}
                        <span class="text-xs text-base-content text-opacity-70 mt-1 block">
                            <strong>Use with caution!</strong> This will easily fill up your email storage quota or flood other storages.
                        </span>
                    </div>
                    {% endif %}
                    <div class="field-group relative p-4 border border-base-300 rounded-md" id="notification-field-group">
                        {% if has_default_notification_urls %}
                        <div class="alert alert-info text-sm mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                            <span>There are <a href="{{ url_for('settings.settings_page')}}#notifications" class="link link-hover">system-wide notification URLs enabled</a>, this form will override notification settings for this watch only &ndash; an empty Notification URL list here will still send notifications.</span>
                        </div>
                        {% endif %}
                        <button type="button" id="notification-setting-reset-to-default" class="btn btn-xs btn-outline btn-accent absolute top-4 right-4">Use system defaults</button>
                        {# Assuming render_common_settings_form generates fields that need styling or are styled by their own macros #}
                        {{ render_common_settings_form(form, emailprefix, settings_application, extra_notification_token_placeholder_info) }}
                    </div>
                </fieldset>
            </div>

            {% if watch['processor'] == 'text_json_diff' %}
            <div class="tab-content space-y-4" id="visualselector" style="display: none;">
                {# <img class="beta-logo h-8 mb-2" src="{{url_for('static_content', group='images', filename='beta-logo.png')}}" alt="New beta functionality"> #}
                 <div class="alert alert-info text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                    <span>Visually select elements from a screenshot of the page. Requires Playwright.</span>
                </div>
                <fieldset class="space-y-3">
                    <div class="form-control">
                        {% if watch_needs_selenium_or_playwright %}
                            {% if system_has_playwright_configured %}
                            <p class="text-sm text-base-content text-opacity-80 mb-2" id="visual-selector-heading">
                                The Visual Selector tool lets you select the <i>text</i> elements that will be used for the change detection. It automatically fills-in the filters in the "CSS/JSONPath/JQ/XPath Filters" box of the <a href="#filters-and-triggers" class="link link-hover" onclick="document.getElementById('filters-and-triggers-tab-link').click()">Filters & Triggers</a> tab. Use <strong>Shift+Click</strong> to select multiple items.
                            </p>

                            <div id="selector-header" class="mb-2 flex items-center gap-2">
                                <button type="button" id="clear-selector" class="btn btn-sm btn-outline">Clear selection</button>
                                <em class="fetching-update-notice text-sm text-base-content text-opacity-70">One moment, fetching screenshot and element information... <span class="loading loading-dots loading-xs"></span></em>
                            </div>
                            <div id="selector-wrapper" class="border rounded-lg overflow-hidden bg-base-200" style="display: none; min-height: 300px;">
                                <img id="selector-background" class="block" >
                                <canvas id="selector-canvas" class="block"></canvas>
                            </div>
                            <div id="selector-current-xpath" class="text-sm mt-1 p-2 bg-base-200 rounded break-all"><strong>Currently:</strong>&nbsp;<span class="text">Loading...</span></div>
                        {% else %}
                            <div class="p-4">{{ playwright_warning() }}</div>
                            {% if system_has_webdriver_configured %}
                                <p class="text-warning text-sm p-4"><strong>Selenium/Webdriver cant be used here because it wont fetch screenshots reliably.</strong></p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="p-4">{{ only_playwright_type_watches_warning() }}</div>
                    {% endif %}
                    </div>
                </fieldset>
            </div>

            <div class="tab-content space-y-4" id="filters-and-triggers" style="display: none;">
                <button type="button" id="activate-text-preview" class="btn btn-sm btn-primary mb-4">Activate preview</button>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div id="edit-text-filter" class="space-y-4">
                        <div class="form-control p-4 border border-base-300 rounded-md bg-base-200 text-sm" id="pro-tips">
                                <strong class="text-md">Pro-tips:</strong>
                                <ul class="list-disc list-inside mt-1 space-y-1">
                                    <li>Use the preview page to see your filters and triggers highlighted.</li>
                                    <li>Some sites use JavaScript to create the content, for this you should <a href="https://github.com/dgtlmoon/changedetection.io/wiki/Fetching-pages-with-WebDriver" class="link link-hover">use the Chrome/WebDriver Fetcher</a>.</li>
                                </ul>
                        </div>

                        {% include "edit/include_subtract.html" %} {# This will need its own refactoring or careful styling of its output #}
                        
                        <div class="text-filtering p-4 border border-base-300 rounded-md space-y-3">
                            <fieldset class="form-control space-y-1" id="text-filtering-type-options">
                                <h3 class="text-md font-semibold">Text filtering</h3>
                                <p class="text-xs text-base-content text-opacity-70">Limit trigger/ignore/block/extract to:</p>
                                {{ render_checkbox_field(form.filter_text_added, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                {{ render_checkbox_field(form.filter_text_replaced, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                {{ render_checkbox_field(form.filter_text_removed, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                <p class="text-xs text-base-content text-opacity-70 mt-1">Note: Depending on the length and similarity of the text on each line, the algorithm may consider an <strong>addition</strong> instead of <strong>replacement</strong> for example.</p>
                                <p class="text-xs text-base-content text-opacity-70">&nbsp;So it's always better to select <strong>Added</strong>+<strong>Replaced</strong> when you're interested in new content.</p>
                                <p class="text-xs text-base-content text-opacity-70">&nbsp;When content is merely moved in a list, it will also trigger an <strong>addition</strong>, consider enabling <code><strong>Only trigger when unique lines appear</strong></code>.</p>
                            </fieldset>
                            <fieldset class="form-control">
                                {{ render_checkbox_field(form.check_unique_lines, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                <span class="text-xs text-base-content text-opacity-70 mt-1 block">Good for websites that just move the content around, and you want to know when NEW content is added, compares new lines against all history for this watch.</span>
                            </fieldset>
                            <fieldset class="form-control">
                                {{ render_checkbox_field(form.remove_duplicate_lines, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                <span class="text-xs text-base-content text-opacity-70 mt-1 block">Remove duplicate lines of text.</span>
                            </fieldset>
                            <fieldset class="form-control">
                                {{ render_checkbox_field(form.sort_text_alphabetically, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                <span class="text-xs text-base-content text-opacity-70 mt-1 block">Helps reduce changes detected caused by sites shuffling lines around, combine with <i>check unique lines</i> below.</span>
                            </fieldset>
                            <fieldset class="form-control">
                                {{ render_checkbox_field(form.trim_text_whitespace, class="checkbox checkbox-sm", label_class="label-text text-sm") }}
                                <span class="text-xs text-base-content text-opacity-70 mt-1 block">Remove any whitespace before and after each line of text.</span>
                            </fieldset>
                            {% include "edit/text-options.html" %} {# This will need its own refactoring or careful styling of its output #}
                        </div>
                    </div>
                    <div id="text-preview" class="space-y-2" style="display: none;">
                        <script>
                            const preview_text_edit_filters_url="{{url_for('ui.ui_edit.watch_get_preview_rendered', uuid=uuid)}}";
                        </script>
                        <div class="minitabs-wrapper tabs tabs-lifted"> {# DaisyUI tabs for preview #}
                            {# Add tab links here if needed, or just use the content divs #}
                        </div>
                        <div class="minitabs-content">
                            <div id="text-preview-inner" class="monospace-preview p-2 border bg-base-200 rounded-md text-xs whitespace-pre-wrap overflow-x-auto min-h-[100px]">
                                <p>Loading...</p>
                            </div>
                            <div id="text-preview-before-inner" style="display: none;" class="monospace-preview p-2 border bg-base-200 rounded-md text-xs whitespace-pre-wrap overflow-x-auto min-h-[100px]">
                                <p>Loading...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-content space-y-4" id="conditions" style="display: none;">
                <script>
                    const verify_condition_rule_url="{{url_for('conditions.verify_condition_single_rule', watch_uuid=uuid)}}";
                </script>
                <div class="form-control">
                    {{ render_field(form.conditions_match_logic, class="select select-bordered w-full md:w-auto", label_class="label-text") }}
                </div>
                <div class="form-control overflow-x-auto">
                    {# render_conditions_fieldlist_of_formfields_as_table will generate a table, which needs .table class for DaisyUI #}
                    {{ render_conditions_fieldlist_of_formfields_as_table(form.conditions, table_class="table table-compact w-full") }}
                </div>
                <div class="text-sm text-base-content text-opacity-70 mt-1">
                    <p id="verify-state-text">Use the verify (✓) button to test if a condition passes against the current snapshot.</p>
                    Read a quick tutorial about <a href="https://changedetection.io/tutorial/conditional-actions-web-page-changes" class="link link-hover">using conditional web page changes here</a>.
                </div>
            </div>
            {% endif %}
            
            {# rendered sub Template for extra tabs #}
            {% if extra_form_content %}
            <div class="tab-content" id="extras_tab" style="display: none;">
            {{ extra_form_content|safe }} {# Content from plugins, may or may not have DaisyUI styling #}
            </div>
            {% endif %}

            <div class="tab-content space-y-4" id="stats" style="display: none;">
                <div class="form-control">
                    <div class="overflow-x-auto shadow-md rounded-lg">
                        <table class="table table-zebra w-full" id="stats-table">
                            <tbody>
                            <tr>
                                <td class="font-semibold">Check count</td>
                                <td>{{ "{:,}".format( watch.check_count) }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Consecutive filter failures</td>
                                <td>{{ "{:,}".format( watch.consecutive_filter_failures) }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">History length</td>
                                <td>{{ "{:,}".format(watch.history|length) }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Last fetch duration</td>
                                <td>{{ watch.fetch_time }}s</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Notification alert count</td>
                                <td>{{ watch.notification_alert_count }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Server type reply</td>
                                <td>{{ watch.get('remote_server_reply') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    {% if ui_edit_stats_extras %}
                    <div class="plugin-stats-extras mt-4 p-4 border border-base-300 rounded-md"> <!-- from pluggy plugin -->
                        {{ ui_edit_stats_extras|safe }}
                    </div>
                    {% endif %}

                    {% if watch.history_n %}
                        <p class="mt-4">
                             <a href="{{url_for('ui.ui_edit.watch_get_latest_html', uuid=uuid)}}" class="btn btn-sm btn-outline">Download latest HTML snapshot</a>
                        </p>
                    {% endif %}
                </div>
            </div>
            
            <div id="actions" class="mt-8 pt-6 border-t border-base-300 flex flex-wrap gap-2">
                {{ render_button(form.save_button, class="btn btn-primary") }}
                <a href="{{url_for('ui.form_delete', uuid=uuid)}}" class="btn btn-error">Delete</a>
                {% if watch.history_n %}<a href="{{url_for('ui.clear_watch_history', uuid=uuid)}}" class="btn btn-warning">Clear History</a>{% endif %}
                <a href="{{url_for('ui.form_clone', uuid=uuid)}}" class="btn btn-accent">Clone &amp; Edit</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
