                    <div class="form-control w-full mb-4">
                        {# Assuming render_field will apply textarea textarea-bordered w-full leading-normal by default or via its own class logic #}
                        {% set field_html = render_field(form.include_filters,
                            rows=5,
                            placeholder=has_tag_filters_extra+"#example\nxpath://body/div/span[contains(@class, 'example-class')]",
                            class="leading-normal") {# Keep leading-normal if specific, render_field handles textarea classes #}
                        %}
                        {{ field_html }}
                        <label class="label">
                            <span class="label-text-alt">
                                {% if '/text()' in field_html %}
                                  <strong>Note!: //text() function does not work where the &lt;element&gt; contains &lt;![CDATA[]]&gt;</strong><br>
                                {% endif %}
                                One CSS, xPath 1 &amp; 2, JSON Path/JQ selector per line, <i>any</i> rules that matches will be used.<br>
                                <button data-target="#advanced-help-selectors" class="toggle-show btn btn-xs btn-outline normal-case mt-1">Show advanced help and tips</button>
                                <ul id="advanced-help-selectors" style="display: none;" class="list-disc pl-5 space-y-1 text-xs mt-2">
                                    <li>CSS - Limit text to this CSS rule, only text matching this CSS rule is included.</li>
                                    <li>JSON - Limit text to this JSON rule, using either <a href="https://pypi.org/project/jsonpath-ng/" target="new" class="link link-hover">JSONPath</a> or <a href="https://stedolan.github.io/jq/" target="new" class="link link-hover">jq</a> (if installed).
                                        <ul class="list-disc pl-5">
                                            <li>JSONPath: Prefix with <code>json:</code>, use <code>json:$</code> to force re-formatting if required,  <a href="https://jsonpath.com/" target="new" class="link link-hover">test your JSONPath here</a>.</li>
                                            {% if jq_support %}
                                            <li>jq: Prefix with <code>jq:</code> and <a href="https://jqplay.org/" target="new" class="link link-hover">test your jq here</a>. Using <a href="https://stedolan.github.io/jq/" target="new" class="link link-hover">jq</a> allows for complex filtering and processing of JSON data with built-in functions, regex, filtering, and more. See examples and documentation <a href="https://stedolan.github.io/jq/manual/" target="new" class="link link-hover">here</a>. Prefix <code>jqraw:</code> outputs the results as text instead of a JSON list.</li>
                                            {% else %}
                                            <li>jq support not installed</li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li>XPath - Limit text to this XPath rule, simply start with a forward-slash. To specify XPath to be used explicitly or the XPath rule starts with an XPath function: Prefix with <code>xpath:</code>
                                        <ul class="list-disc pl-5">
                                            <li>Example:  <code>//*[contains(@class, 'sametext')]</code> or <code>xpath:count(//*[contains(@class, 'sametext')])</code>, <a
                                            href="http://xpather.com/" target="new" class="link link-hover">test your XPath here</a></li>
                                            <li>Example: Get all titles from an RSS feed <code>//title/text()</code></li>
                                            <li>To use XPath1.0: Prefix with <code>xpath1:</code></li>
                                        </ul>
                                    </li>
                                    <li>
                                        Please be sure that you thoroughly understand how to write CSS, JSONPath, XPath{% if jq_support %}, or jq selector{%endif%} rules before filing an issue on GitHub! <a
                                                href="https://github.com/dgtlmoon/changedetection.io/wiki/CSS-Selector-help" class="link link-hover">here for more CSS selector help</a>.
                                    </li>
                                </ul>
                            </span>
                        </label>
                    </div>
                <div class="form-control w-full mb-4">
                    {{ render_field(form.subtractive_selectors, rows=5, class="leading-normal", placeholder=has_tag_filters_extra+"header\nfooter\nnav\n.stockticker\n//*[contains(text(), 'Advertisement')]") }}
                     <label class="label">
                        <span class="label-text-alt">
                            <ul class="list-disc pl-5 text-xs space-y-1">
                              <li> Remove HTML element(s) by CSS and XPath selectors before text conversion. </li>
                              <li> Don't paste HTML here, use only CSS and XPath selectors </li>
                              <li> Add multiple elements, CSS or XPath selectors per line to ignore multiple parts of the HTML. </li>
                            </ul>
                        </span>
                    </label>
                </div>
